.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;

    .login-container {
        border-radius: 30px;
        box-shadow: 5px 3px 20px 0px #00000066;
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
            flex-direction: column;
            background: url("../../assets/register_image.png") no-repeat center center;
            background-size: cover;
            color: #fff;
            height: 100vh;
        }

        .image-side {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;

            .login-image {
                width: 100%;
                height: auto;
                object-fit: cover;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }

        .form-side {
            width: 50%;
            padding: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            @media (max-width: 768px) {
                width: 100%;
                background: rgba(0, 0, 0, 0.6); 
                color: #fff;
                padding: 32px;
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h3 {
                font-family: 'Inter', sans-serif;
                font-size: 24px;
                font-weight: 600;
                color: #252733;
                text-align: center;

                @media (max-width: 768px) {
                    color: #fff;
                    font-size: 35px; 
                }
            }

            p {
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #9fa2b4;
                text-align: center;

                @media (max-width: 768px) {
                    font-size: 16px;

                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media (max-width: 768px) {
                    gap: 40px; 
                }

                .form-group {
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px; 
                    margin-bottom: 16px;

                    label {
                        font-family: 'Inter', sans-serif;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: 14.52px;
                        text-align: left;
                        color: #101010;

                        @media (max-width: 768px) {
                            color: #fff; 
                            font-size: 25px; 
                            padding-bottom: 10px;
                            font-weight: 700;
                        }
                    }

                    .form-control {
                        margin-bottom: 16px;
                        border: 1px solid #101010; 
                        background: #fcfdfe;

                        @media (max-width: 768px) {
                            height: 60px;
                        }

                        &::placeholder {
                            font-family: 'Inter', sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16.94px;
                            text-align: left;
                            color: #9fa2b4;

                            @media (max-width: 768px) {
                                font-size: 12px; 
                            }
                        }
                    }
                }

                button {
                    background-color: #000;
                    color: #fff;
                    padding: 8px;
                    border: none;
                    cursor: pointer;
                    margin-top: 28px;

                    @media (max-width: 768px) {
                        padding: 10px; 
                        background-color: white;
                        color: #000;
                        font-size: 24px;
                        font-weight: 500;
                    }
                }

                p {
                    margin-top: 16px;
                    text-align: center;

                    @media (max-width: 768px) {
                        color: #fff;
                        font-size: 20px; 
                    }

                    a {
                        font-family: 'Inter', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 16.94px;
                        text-align: left;
                        color: #101010;
                        text-decoration: none;

                        @media (max-width: 768px) {
                            color: #fff; 
                            font-size: 20px; 
                        }
                    }
                }
            }
        }
    }
}
