.top-drivers {
    h2 {
      text-align: left;
      margin-bottom: 20px;
    }
  
    .driver {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
  
      .info {
        flex-grow: 1;
  
        .name {
          font-weight: bold;
          margin-bottom: 0px;
        }
  
        .phone {
          color: #666;
        }
      }
  
      .stats {
        text-align: right;
  
        p {
          margin: 0;
          font-size: 12px;
        }
      }
  
      button {
        background: none;
        border: none;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  